{% extends "layout.html" %}
{% block title %}DDOS - settings{% endblock %}
{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-left is-fluid">
            <div class="columns">
                <div class="column is-10 has-text-left">
                    <p class="title is-1 has-text-grey">ATFW</p>
                </div>
                <div class="column is-one-quarter">
                    <div class="field">
                        <div class="control">
                            <form method="post">
                                <input class="button is-info is-large is-outlined" type="submit" name="submit" value="Back">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <form method="post">
                    <div class="column">
                        <div class="box">
                            <div class="field">
                                <div class="control">
                                    <label class="subtitle is-5"> Number of Peers: [{{ n_peers }}]</label>
                                    <input class="input is-primary" type="number" min="1" max="{{ n_peers }}" name="range" placeholder="Number of peers to use">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="subtitle is-5"> Time (in seconds) </label>
                                    <input class="input is-primary" type="number" min="1" name="time" placeholder="Seconds">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="subtitle is-5"> Url </label>
                                    <input class="input is-primary" type="text" name="domain" placeholder="ie. www.xyz.com">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-text-centered">
                                    <input class="button is-medium is-outlined is-danger" type="submit" name="submit" value="Start">
                                </div>
                            </div>
                            {% if error %}
                            <div class="field">
                                <div class="control">
                                    <p class="subtitle is-6 has-text-danger has-text-centered"> {{ error }}! </p>
                                </div>
                            </div>
                            {% endif %}
                            {% if msg %}
                            <div class="field">
                                <div class="control">
                                    <p class="subtitle is-6 has-text-success has-text-centered"> {{ msg }} </p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
