{% extends "layout.html" %}
{% block title %}Peer Activity{% endblock %}
{% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered is-fluid">
            <div class="columns">
                <div class="column is-11 has-text-left">
                    <p class="title is-1">Peer Activity</p>
                </div>
                <div class="column is-one-quarter has-text-right">
                    <div class="field">
                        <div class="control">
                            <form method="post">
                                <input class="button is-outlined is-info is-large" type="submit" name="submit" value="Back">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-left">
                    <p class="subtitle is-3"> IP - [{{ ip }}] </p>
                    <p class="subtitle is-4"> Interact with host </p>
                </div>
            </div>
            <form method="post">
                <div class="columns">
                    <div class="column">
                        <div class="field has-addons">
                            <div class="control">
                                <input name="host" type="hidden" value="{{ ip }}">
                                <input class="input is-primary is-medium" type="text" name="cmd_text" placeholder="Insert a command">
                            </div>
                            <div class="control">
                                <input class="button is-success is-medium" type="submit" name="submit" value="Send">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% if cmd_response %}
            <div class="columns is-4">
                <div class="box has-text-left">
                    <p> {{ cmd_response|safe }} </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
