body {
    margin: 0;
    padding: 0;
    background-color: #595953;
}

input.cmd_text[type=text] {
    background-color: white;
    color: black;
    float: left;
    margin-right: 87%;
    height: 45px;
    width: 15%;
}

input.ddos_text[type=text] {
    background-color: white;
    color: black;
    width: 20%;
    height: 5%;
    margin-left: 5%;
    margin-right: 1%;
    font-size: 150%;
}

input.ddos_text {
    background-color: white;
    color: black;
    width: 20%;
    height: 5%;
    margin-left: 5%;
    margin-right: 1%;
    font-size: 150%;
}

input.access_ip_port[type=text] {
    background-color: white;
    color: black;
    font-size: 100%;
    height: 32px;
}

.start_btn {
    position: relative;
    font-weight: bold;
    color: black;
    padding: 6px 17px;
    border-radius: 6px;
    cursor: pointer;
    height: 5.5%;
    width: 6%;
    margin-left: 5%;
}

.access_btn {
    position: relative;
    font-weight: bold;
    color: black;
    padding: 6px 17px;
    float: left;
    margin-right: 90%;
    border-radius: 6px;
    cursor: pointer;
}

.cmdsend_btn {
    position: relative;
    font-weight: bold;
    color: black;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 20%;
}

.back_btn {
    font-weight: bold;
    position: relative;
    color: black;
    float: right;
    padding: 14px 30px;
    margin-right: 5%;
    margin-top: 2%;
    border-radius: 6px;
    cursor: pointer;
}

.ddos_btn {
    position: relative;
    color: black;
    font-weight: bold; 
    padding: 14px 30px;
    float: right;
    margin-right: 10%;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 30px;
}

p.subtitle {
    color: #ffffff;
    font-size: 2.7vw;
    font-weight: bolder;
    text-shadow: 2px 2px 3px black;
    margin-top: 30px;
    margin-left: 3%;
}

p.main_ip {
    color: #ffffff;
    font-size: 1.4vw;
    font-weight: bold;
    margin-left: 13%;
    margin-top: 1%;
    margin-bottom: 2%;
}

p.available {
    color: #00e600;
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 3%; 
}


p.logo {
    color: #ffffff;
    font-size: 4vw;
    font-weight: bolder;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 3%;
    margin-top: 20px;
}

p.peer_ip {
    color: #ffffff;
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 3%;
}

p.info {
    color: white;
    font-size: 1.2vw;
    margin-left: 3%
}

p.cmd_response {
    color: #2ce008;
    margin-left: 2.3%;
    margin-top: 1%;
    font-size: 1.2vw;
    text-shadow: 2px 2px 3px black;
}

p.error {
    color: #ed220b;
    font-size: 20px;
    margin-right: 9%;
    font-family: monaco;
}
